<% provide(:title, @category.name) %>
<div class ="row">
  <div class ="col-md-12">
    <h2><%= @category.name %>( <%= @posts.count %> )</h2>
    <% if @posts.any? %>
      <%= paginate @posts %>
      <ol class ="micropost">
        <div class ="box">
          <%= render @posts %>
        </div>
      </ol>
      <%= paginate @posts %>
    <% else %>
      <h2><%= @category.name %>の投稿はまだありません</h2>
    <% end %>
  </div>
</div>
