<header class ="navbar navbar-fixed_top navbar-light" style="background-color: #3399ff;">
<div class ="container">
  <%= link_to "walker", root_path, id: "logo" %>
  <nav>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <%= link_to "Home", root_path, id: "text" %>
      </li>
      <% if user_signed_in? %>
      <li><%= link_to "check", notifications_path, class: "check", id: "text" %>
        <% if unchecked_notifications.any? %>
          <span class="fa">
            <i class="fa fa-bell faa-ring animated"></i>
          </span>
        <% end %>
      </li>
      <li><%= link_to "Users", users_path, id: "text" %></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Account <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><%= link_to "Profile", current_user %></li>
          <li><%= link_to "Settings", profile_edit_path %></li>
          <li class="divider"></li>
          <li>
            <%= link_to "Log out", destroy_user_session_path, method: :delete %>
          </li>
        </ul>
      </li>
      <% else %>
      <li>
        <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary", id: "text" %>
      </li>
      <li>
        <%= link_to "login", new_user_session_path, class: "btn btn-success", id: "text" %>
      </li>
      <% end %>
    </ul>
  </nav>
</div>
</header>
